.container{
    display: flex;
    flex-direction: row;
    padding-right:5px ;
    justify-content: center
    }
.container div{
    background-color:darkolivegreen;
    width: 80%;
    margin: 10px;
    font-size: 20px;
    color: wheat;
}
h1{
 color: rgb(17, 17, 13); 
 text-align: center; 
}
h2{
    font-size: x-large;
    line-height:20px ;
    color: blue;
    font-family: 'Cinzel', serif;
    color: wheat;
    

    /* font-family: 'Shadows Into Light', cursive; */

}
#nav{
  /* display:flex; */
     height:300px;

    
    background-image:url("https://bit.ly/38RUK9I");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    /* text-decoration: none; */
}
nav{
    padding:16px;
    display: inline-block;
    display: flex;
    justify-content: center; 
    /* background-color: blueviolet; */

}

ul a:hover{
    background-color: floralwhite;
    padding:20px;
}    
a{
    padding:40px;
    font-size: 70px;
    color: blueviolet;
    text-decoration: none;
    color: teal;

} 


.accordion {
    background-color: rgb(66, 22, 228);
    color : #444;
    cursor: pointer; 
    padding: 5px;
    width: 20%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: rgb(207, 15, 15);
  }
  
  .panel {
    padding: 0 1px;
    background-color: rgb(212, 28, 28);
    max-height: 0;
    /* overflow: hidden; */
    z-index:26;
    transition: max-height 0.2s ease-out;
  }
  
a{
    text-decoration: none;
    font-size: larger;
    font-weight: 300;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: teal;
}
footer{
    margin:0;
    padding:0;
    background-color:darkolivegreen;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    color: wheat;

}
