.topnavn{
    display: flex;
}
a{
    padding:50px;
}
#securityguard{
    background-image:url(./lin.jpg ) ;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}
#shambaboy{
    background-image: url(./shamba.jpeg) ;
    height: 400px;
    width:600px;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: row;
    
}


/*.float{
    float:right;
    display: flex;
    flex-direction: column; 
    
}*/
section{
    display:flex;
    flex-direction: column-reverse;
}
#houselps{
    display:flex;
    flex-direction: row;
}
.househelps{
    background-image: url(./home.jpeg) ;
    height: 400px;
    width: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: larger;
}
#cleaners{
    background-image: url(./clean.jpeg) ;
    height: 400px;
    width: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: x-large;
 
}
#ll{
    position: absolute;
    /* text-align:right; */
    right: 20px;
    top: 1500px;
    font-size: larger;
    font-weight: 100;
}
#ku{
    position: absolute;
    right: 20px;
    top: 600px;
    font-size: larger;
    font-weight: 100;
}
#sl{
    position: absolute;
    right:20px;
    top: 1100px;
    font-size:larger;
    font-weight: 100;
}
#tl{
    text-align: center;
}




