
*{
    font-family: 'Courgette', cursive;
}
#job0{
    background-image: url("https://bit.ly/2vlvHNw");
    background-size: cover;
    background-repeat: no-repeat;
background-attachment: fixed;
}
nav li {
    display:inline-block;
font-size: xx-large;
font-weight: 800;
font-style: italic;
margin:7%;
}
body{
    background-color: darkolivegreen;
}
h1{

    font-size:xx-large;
    font-weight: 900;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.p{
    color:black;
    font-size: xx-large;
    
}
#job1{
background-color: blanchedalmond;
height: 50%;
width: 80%;
font-size:xx-large;
padding: 25px;
margin: auto;
border: 10px dotted grey;
align-items: center;
}
#job2{
    background-color: blanchedalmond;
    height: 50%;
    width: 80%;
    font-size: xx-large;
    padding:25px;
    margin:110px;
    border: 10px dotted grey;
    align-items: center;
}
#job3{
    background-color: blanchedalmond;
    height: 50%;
    width:80%;
    font-size:xx-large;
    padding:25px;
    margin:110px;
    border: 10px dotted grey;

}
#job4{
    background-color: blanchedalmond;
    height:50%;
    width:80%;
    font-size:xx-large;
    padding:25px ;
    margin:110px;
    border:10px dotted grey;

}
.form{
    font-size: xx-large;
    font-weight: 700;
    font-style: italic;
    border:10px dotted grey;
    padding:25px;
    margin:110px;
    height:50%;https://github.com/ow-tech/Black-color-services-jobs.git
    background-color: blanchedalmond;
    border:5px solid grey;
    border-color: brown;
}
input [type=text]{
width:100%;
}
#footer2{
    float:right;
    margin:10%;
}
#footer{
    float:left;
    margin:10%;
}
.fa{
    font-size:xx-large;
    padding:40px;
    
}